body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: #007BFF; /* Bootstrap primary color */
  text-align: center;
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
}
